.NavbarItems {
    background: #2b2c37;
    height: 4rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: calc(100vw - 280px);
    margin-left: 280px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 100%;
    justify-content: end;
    margin: -1rem;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{ 
    color: white;
    width: 100%;
    margin-left: 170px;
    font-size: 1.5rem;
    font-weight:700;
}

.nav-menu2{
    background-color: #2b2c37;
    width: 280px;
    height: 100vh;
    display: flex;
    position: fixed;  
}

.board-bars{
    font-size: .75rem;
    font-weight: 700;
    background: none;
    color: #828fA3;
    display: flex;
    padding-left: 20px;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px;
    list-style: none;
    height: 20px;
    font-size: 1.1rem;
}

.nav-text-create {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px;
    list-style: none;
    height: 20px;
    font-size: 1.1rem;
}

.nav-text a {
    text-decoration: none;
    color: #828fA3;
    font-weight: 700;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.nav-text-create a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 700;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;   
}

.nav-text:hover {
    background-color:rgba(99, 95, 199, 0.1);
    border-radius: 0px 26px 26px 0px;
    width: 90%;
}

.nav-text:hover a {
    color:var(--primary);
}

.nav-text-create:hover {
    background-color: rgba(99, 95, 199, 0.1);
    padding-right: 20px;
    border-radius: 0px 26px 26px 0px;
    width: 83%;
}

.nav-menu-items {
    width: 100%;
    margin-left: -38px;
}

.navbar-board {
    background-color: #2b2c37;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.main-content {
    margin-left: 280px;
    background-color: rgb(32, 33, 44);
    overflow: hidden;
}

.content {
    background-color: #20212c;
    height: calc(100vh - 4rem);
    overflow: auto;
}

